<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>SimpliQ - Flat & Responsive Bootstrap Admin Template</title>
	<meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template.">
	<meta name="author" content="Łukasz Holeczek">
	<meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/assets/css/style.min.css" rel="stylesheet">
	<link href="../static/assets/css/retina.min.css" rel="stylesheet">
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	
	  	
		
	<![endif]-->
	
	<!-- start: Favicon and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="http://localhost:8888/bootstrap/simpliq2/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7dP3FPdyULLwP7DET-WlrgUF0ilrBvFLaNv0S6AF3vB9mOJ_RvQ">	<!-- end: Favicon and Touch Icons -->	
		
</head>

<body>
		<!-- start: Header -->
	<header class="navbar">
		<div class="container">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			</button>
			<a id="main-menu-toggle" class="hidden-xs open"><i class="icon-reorder"></i></a>		
				<a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="index.html"><span>SimpliQ</span></a>
			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav navbar-nav pull-right">
					<!-- start: User Dropdown -->
					<li class="dropdown">
						<a class="btn account dropdown-toggle" data-toggle="dropdown" href="gallery.html#">
							<div class="avatar"><img src="../static/assets/img/avatar.jpg" alt="Avatar"></div>
							<div class="user">
								<span class="hello">Welcome!</span>
								<span class="name">Łukasz Holeczek</span>
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-menu-title">
								
							</li>
							<li><a href="gallery.html#"><i class="icon-user"></i> Profile</a></li>
							<li><a href="gallery.html#"><i class="icon-cog"></i> Settings</a></li>
							<li><a href="gallery.html#"><i class="icon-envelope"></i> Messages</a></li>
							<li><a href="login.html"><i class="icon-off"></i> Logout</a></li>
						</ul>
					</li>
					<!-- end: User Dropdown -->
				</ul>
			</div>
			<!-- end: Header Menu -->
			
		</div>	
	</header>
	<!-- end: Header -->
	
		<div class="container">
		<div class="row">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="col-lg-2 col-sm-1">
				
				<input type="text" class="search hidden-sm" placeholder="..." />
				
				<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="http://192.168.10.26:8000"><i class="icon-bar-chart"></i><span class="hidden-sm"> Dashboard</span></a></li>	
						
						<li>
							<a class="dropmenu" href="gallery.html#"><i class="icon-picture"></i><span class="hidden-sm"> Photos</span> <span class="label">3</span></a>
							<ul>
							 <li><a class="submenu" href="Accept"><i class="icon-folder-open-alt"></i><span class="hidden-sm"> Accept_List</span></a></li>
			                <li><a class="submenu" href="Reject"><i class="icon-folder-open-alt"></i><span class="hidden-sm"> Reject_List</span></a></li>
			                <li><a class="submenu" href="Waiting"><i class="icon-folder-open-alt"></i><span class="hidden-sm"> Waiting_List</span></a></li>
						</ul>
			            <li><a href="/sample/stream_video"><i class="icon-camera"></i><span class="hidden-sm">Face Recognition</span></a></li>
			            <li><a href="/sample/delete"><i class="icon-trash"></i><span class="hidden-sm"> Waitlist Data</span></a></li>
			            <li><a href="/sample/create"><i class="icon-edit"></i><span class="hidden-sm">
			                  Create_Waitlist_csv</span></a></li>
			            <li><a  href="/sample/clear"><i class="icon-trash"></i><span class="hidden-sm">Rejected_data</span></a></li>
			            <li><a href="/sample/add"><i class="icon-edit"></i><span class="hidden-sm">Create_rejectlist_csv</span></a></li>
			            <li><a  href="/sample/cut"><i class="icon-trash"></i><span class="hidden-sm">Accepted_data</span></a></li>
			            <li><a  href="/sample/generate"><i class="icon-edit"></i><span class="hidden-sm">Create_Acceptedlist_csv</span></a></li>
						
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
						
			<!-- start: Content -->
			<div id="content" class="col-lg-10 col-sm-11">
			
			
			<div class="row sortable">
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header" data-original-title>
							<h2><i class="icon-user"></i> Accept</h2>
							<div class="box-icon">
								<a href="gallery.html#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
								<a href="gallery.html#" class="btn-close"><i class="icon-remove"></i></a>
							</div>
						</div>
						<div class="box-content">
							
							<div class="row">
	{% if data %}
{% for i in data %}
{% if i.id != "sample" %}
{% if i.id != "user_id" %}
{% if i.id != "file-moved" %}

<div style="margin-bottom:30px" class="col-sm-3 col-xs-6">
<img height='30%' widht='30%' class="img-thumbnail" src="http://{{ip}}:{{port}}/static/img_data/accept_list/{{i.id}}.jpg">
<h2>User ID: {{i.id}}</h2>
</div>
{% endif %}

{% endif %}

{% endif %}

{% endfor %}

{% endif %}
															</div>
						</div>	
					</div><!--/col-->
				</div><!--/col-->
			
			</div><!--/row-->

    
					
			</div>
			<!-- end: Content -->
				
				</div><!--/row-->		
		
	</div><!--/container-->
	
		
		<div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">
						<p>Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	
	<div class="clearfix"></div>
	
	<footer>
		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://bootstrapmaster.com" alt="Bootstrap Themes">creativeLabs</a></span>
			<span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://admintemplates.co" alt="Bootstrap Admin Templates">SimpliQ</a></span>
		</p>

	</footer>
	
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="../static/assets/js/jquery-2.0.3.min.js"></script>

	<!--<![endif]-->

	

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='../static/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
			</script>

	<!--<![endif]-->

	
	<script src="../static/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../static/assets/js/bootstrap.min.js"></script>
	
		
	
	
	<!-- page scripts -->
	<script src="../static/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	
	<!-- theme scripts -->
	<script src="../static/assets/js/custom.min.js"></script>
	<script src="../static/assets/js/core.min.js"></script>
		
	<!-- end: JavaScript-->
	
</body>
</html>